<div class="card" *ngIf="todo">
    <div class="card-header">
      {{ index }} - {{ todo.title | uppercase | cutString: 10 }} - 
      <span *ngIf="todo.dueDate">{{ todo.dueDate | date: 'dd.MM.yyyy' }}</span>
      <span class="badge badge-success" *ngIf="todo.done">Done</span>
    </div>
    <div class="card-body">
        {{ todo.description | cutString: 10 }}
        <div>
            <button type="button" (click)="test()" [className]="todo.done ? 'btn btn-outline-danger' : 'btn btn-outline-success'">{{ todo.done ? "Doch nicht" : "Erledigt" }}</button>
            <button type="button" (click)="deleteBtnClicked()" class="btn btn-outline-danger">Löschen</button>
            <button type="button" (click)="editBtnClicked()" class="btn btn-outline-primary">Bearbeiten</button>
        </div>
    </div>
</div>
